<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{title.label}"></title>
</head>

<body>
    <div class = "center-container" layout:fragment="content" th:remove="tag">
        <div class="container">
            <header>
                <h1>Sistema de Locação de Bicicletas</h1>
                <h2 th:text="#{usuario.home.welcome(${nome})}"></h2>
            </header>
            <nav>
                <ul>
                    <li><a href="@{/logout}">Logout</a></li>
                    <li><a href="@{/cadastrarLocacao}">Cadastrar locação</a></li>
                </ul>
            </nav>
            <main>
                <h2>Bem-vindo ao Sistema de Locação de Bicicletas</h2>
                <p>Utilize os links acima para navegar pelas funcionalidades do sistema.</p>
                <div id = "locacoesTableContainer">
                    <table id="locacoesTable">
                        <tr>
                            <th>Nome</th>
                            <th>Cidade</th>
                            <th>Dia</th>
                            <th>Horário</th>
                        </tr>
                        <c:forEach var="locacao" items="${sessionScope.listaLocacoes}">
                            <tr>
                                <td>${locacao.locadora.nome}</td>
                                <td>${locacao.locadora.cidade}</td>
                                <td>${locacao.dia}</td>
                                <td>${locacao.horario}</td>
                            </tr>
                        </c:forEach>
                    </table>
                </div>
            </main>
        </div>
    </div>
</body>
</html>