<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/index_layout}">
<head>
    <title th:text="#{title.label}"></title>
</head>

<body>
    <div class = "center-container" layout:fragment="content" th:remove="tag">
        <div class = "form-container">
            <form class = "loginForm" method = "post" th:action = "@{/login}">
                <h1 th:text="#{login.login}"></h1>
                <div class = "loginInput">
                    <label th:text="#{login.email}"></label>
                    <input type="email" name = "username" id = "username"/>
                </div>
                <div class = "loginInput">
                <label th:text="#{login.senha}"></label>
                <input type="password" name = "password" id = "password"/>
                </div>
                <div class = "form-footer">
                <button type="submit" th:text="#{login.login}"></button>
                <span th:utext="#{no.account.log}"></span>
                </div>
            </form>

        <h2 id = "listaLocadorasTitulo" th:text="#{index.locadora.list}"></h2>
        <form th:action="@{/}" method="get">
            <select name = "cidade" id = "selectCidade">
                <option value = "" selected style = "background-color: gray;" th:text="#{index.select.cidade}"></option>
                <option value = "Todas" th:text="#{index.select.todas}"></option>
                <option th:each="locadora : ${listaTodasLocadoras}"
                        th:value="${locadora.cidade}" 
                        th:text="${locadora.cidade}"
                        th:selected="${locadora.cidade == cidadeSelecionada}"></option>
            </select>
            <input type="submit" th:value="#{index.listar}">
        </form>
        <div id = "locadorasTableContainer">
            <table>
                <thead>
                    <tr>
                        <th th:text="#{index.nome.locadora}"></th>
                        <th th:text="#{index.cidade.locadora}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="locadora : ${listaLocadoras}">
                        <td th:text="${locadora.nome}">Nome da Locadora</td>
                        <td th:text="${locadora.cidade}">Cidade da Locadora</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>