<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Locadora de Bicicletas - Login</title>
</head>

<body>
    <!-- Mensagem de erro do login -->
    <!-- <c:if test="${not empty errorMessage}">
        <div class="erro">
            <c:forEach var="erro" items="${errorMessage}">
                <h3>${erro}</h3>
            </c:forEach>
        </div>
    </c:if> -->

    <div class = "center-container">
        <div class = "form-container">
        <form class = "loginForm" method = "post" action = "/DSW1_T1/loginController/login">
            <h1>Login</h1>
            <div class = "loginInput">
                <label>Email</label>
                <input type="email" name = "email"/>
            </div>
            <div class = "loginInput">
            <label>Senha</label>
            <input type="password" name = "senha" />
            </div>
            <div class = "form-footer">
            <button type="submit">Login</button>
            <span>Não tem uma conta? Cadastre-se<a th:href="@{/locadoras/signUp-locadora}"> como uma locadora</a> 
                ou <a href="/signUp-cliente">como um cliente</a></span>
            </div>
        </form>

        <h2 id = "listaLocadorasTitulo">Lista de Locadoras</h2>
        <select name = "selectCidade" id = "selectCidade">
            <option value = "vazio" selected style = "background-color: gray;">Selecionar cidade</option>
            <!-- TODO: Adicionar cidades do banco como seleção -->
        </select>
        <div id = "locadorasTableContainer">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="locadora : ${locadoras}">
                        <td th:text="${locadora.nome}">Nome da Locadora</td>
                        <td th:text="${locadora.cidade}">Cidade da Locadora</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>