<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/layout}">

<head>
    <title th:text="#{crud.cliente.title}"></title>
</head>

<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <a th:href="@{/home}" th:text="#{voltar}"></a> <br>
        <a th:href="@{/admin/crud-locadora}" th:text="#{admin.crud.locadora}"></a> <br>
        <br> <br>
        <div th:replace="~{fragments/alert}"></div>
            <div id = "clienteTableContainer">
                <table id="clienteTable">
                    <tr>
                        <th>ID</th>
                        <th th:text="#{usuario.email.label}"></th>
                        <th th:text="#{usuario.name.label}"></th>
                        <th th:text="#{cliente.cpf.label}"></th>
                        <th th:text="#{cliente.telefone.label}"></th>
                        <th th:text="#{cliente.sexo.label}"></th>
                        <th th:text="#{cliente.dataNascimento.label}"></th>
                    </tr>
                        <tr th:each="cliente : ${listaClientes}">
                            <td th:text="${cliente.id}"></td>
                            <td th:text="${cliente.username}"></td>
                            <td th:text="${cliente.nome}"></td>
                            <td th:text="${cliente.cpf}"></td>
                            <td th:text="${cliente.telefone}"></td>
                            <td th:text="${cliente.sexo}"></td>
                            <td th:text="${cliente.dataNascimento}"></td>
                        </tr>
                </table>
            </div>
            <br> <br> 
            <form class="crud" th:action="@{/admin/handle-crud-cliente}" method="post" th:object="${clienteCommand}">
                <input type="hidden" name="action" th:value="${clienteCommand.crudAction}">
                <select name="crudSelectAction" th:field="*{crudAction}" required>
                    <option value="" th:text="#{admin.crud.selectAction}"></option>
                    <option value="create" th:text="#{admin.crud.create}"></option>
                    <option value="update" th:text="#{admin.crud.update}"></option>
                    <option value="delete" th:text="#{admin.crud.delete}"></option>
                </select>
                <select name="crudSelectId" th:field="*{id}">
                    <option value="" th:text="#{admin.crud.selectID}"></option>
                    <option th:each="cliente : ${listaClientes}"
                    th:value="${cliente.id}" th:text="${cliente.id}"></option>
                </select>
                <label for="emailCrud" th:text="#{admin.crud.email}"></label>
                <input type="email" name="emailCrud" th:field="*{email}">
                <label for="senhaCrud" th:text="#{admin.crud.senha}"></label>
                <input type="password" name="senhaCrud" th:field="*{senha}">
                <label for="nomeCrud" th:text="#{admin.crud.nome}"></label>
                <input type="text" name="nomeCrud" th:field="*{nome}">
                <label for="documentoCrud" th:text="#{admin.crud.cpf}"></label>
                <input type="text" name="documentoCrud" th:field="*{cpf}">
                <label for="telefoneCrud" th:text="#{admin.crud.sexo}"></label>
                <input type="text" name="telefoneCrud" th:field="*{telefone}">
                <select name="sexoCrud" th:field="*{sexo}">
                    <option value="" th:text="#{admin.crud.selectSexo}"></option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
                <label for="dataNascimentoCrud" th:text="#{admin.crud.dataNascimento}"></label>
                <input type="date" name="dataNascimentoCrud" value="0001-01-01" th:field="*{dataNascimento}">
                <select name="isAdminCrud" th:field="*{isAdmin}">
                    <option value="" th:text="#{admin.crud.isAdmin}"></option>
                    <option value="true" th:text="#{admin.crud.yes}"></option>
                    <option value="false" th:text="#{admin.crud.no}"></option>
                </select>
                <input type="submit" name="execute" th:value="#{admin.crud.execute}">
            </form>
    </div>
</div>
</html>