<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/layout}">

<head>
    <title th:text="#{crud.locadora.title}"></title>
</head>

<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <a th:href="@{/home}" th:text="#{voltar}"></a> <br>
        <a th:href="@{/admin/crud-cliente}" th:text="#{admin.crud.cliente}"></a> <br>
        <br> <br>
        <div th:replace="~{fragments/alert}"></div>
            <div id = "clienteTableContainer">
                <table id="clienteTable">
                    <tr>
                        <th>ID</th>
                        <th th:text="#{usuario.email.label}"></th>
                        <th th:text="#{usuario.name.label}"></th>
                        <th th:text="#{locadora.cnpj.label}"></th>
                        <th th:text="#{locadora.cidade.label}"></th>
                    </tr>
                        <tr th:each="locadora : ${listaLocadoras}">
                            <td th:text="${locadora.id}"></td>
                            <td th:text="${locadora.username}"></td>
                            <td th:text="${locadora.nome}"></td>
                            <td th:text="${locadora.cnpj}"></td>
                            <td th:text="${locadora.cidade}"></td>
                        </tr>
                </table>
            </div>
            <br> <br> 
            <form class="crud" th:action="@{/admin/handle-crud-locadora}" method="post" th:object="${locadoraCommand}">
                <input type="hidden" name="action" th:value="${locadoraCommand.crudAction}">
                <select name="crudSelectAction" th:field="*{crudAction}" required>
                    <option value="" th:text="#{admin.crud.selectAction}"></option>
                    <option value="create" th:text="#{admin.crud.create}"></option>
                    <option value="update" th:text="#{admin.crud.update}"></option>
                    <option value="delete" th:text="#{admin.crud.delete}"></option>
                </select>
                <select name="crudSelectId" th:field="*{id}">
                    <option value="" th:text="#{admin.crud.selectID}"></option>
                    <option th:each="locadora : ${listaLocadoras}"
                    th:value="${locadora.id}" th:text="${locadora.id}"></option>
                </select>
                <label for="emailCrud" th:text="#{admin.crud.email}"></label>
                <input type="email" name="emailCrud" th:field="*{email}">
                <label for="senhaCrud" th:text="#{admin.crud.senha}"></label>
                <input type="password" name="senhaCrud" th:field="*{senha}">
                <label for="nomeCrud" th:text="#{admin.crud.nome}"></label>
                <input type="text" name="nomeCrud" th:field="*{nome}">
                <label for="documentoCrud" th:text="#{admin.crud.cnpj}"></label>
                <input type="text" name="documentoCrud" th:field="*{cnpj}">
                <label for="cidadeCrud" th:text="#{admin.crud.cidade}"></label>
                <input type="text" name="cidadeCrud" th:field="*{cidade}">
                <input type="submit" name="execute" th:value="#{admin.crud.execute}">
            </form>
    </div>
</div>
</html>