<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{title.label}"></title>
</head>

<body>
    <div class = "center-container" layout:fragment="content" th:remove="tag">
        <div class="container">
            <header>
                <h2 th:text="#{usuario.home.welcome(${nome})}"></h2>
            </header>
            <nav>
                <ul>
                    <li><a th:href="@{/locacoes/cadastrar-locacao}" th:text="#{locacao.cadastrar}"></a></li>
                </ul>
            </nav>
            <main>
                <h3 th:text="#{home.locacoes}"></h3>
                <div th:if="${#lists.isEmpty(listaLocacoes)}">
                    <p th:text="#{home.no.locacoes}"></p>
                </div>
                <div th:unless="${#lists.isEmpty(listaLocacoes)}">
                    <div id = "locacoesTableContainer">
                        <table id="locacoesTable">
                            <tr>
                                <th th:text="#{cliente.home.nome}"></th>
                                <th th:text="#{cliente.home.cidade}"></th>
                                <th th:text="#{cliente.home.dia}"></th>
                                <th th:text="#{cliente.home.horario}"></th>
                            </tr>  
                                <tr th:each="locacao : ${listaLocacoes}">
                                    <td th:text="${locacao.locadora.nome}"></td>
                                    <td th:text="${locacao.locadora.cidade}"></td>
                                    <td th:text="${locacao.dia}"></td>
                                    <td th:text="${locacao.horario}"></td>
                                </tr>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>